<div class="cardContainer"
  [ngClass]="unit.getType()"
>     
  <div class="row">
      <div class="col-12 name">{{unit.getName()}}</div>
  </div>
  <div class="row">
    <div class="col-4 size">{{unit.getMatricula() | async}}</div>
    <div class="col-4 size text-center">
        <app-miniquad [unit]="unit" [size]="20" [hideLabels]="true"></app-miniquad>
      </div>    
      <div class="col-4 labels">
          {{rendimientoLabel}}<br>
          {{publicLabel}}
        </div>
  </div>
</div>