:host {
  padding: 5px;
  cursor: pointer;
}

.cardContainer {
  border-radius: 3px;
  padding: 2px;
  height:100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.cardContainer.dependencia_1, .cardContainer.dependencia_2 {
  background-color: darkviolet;
}

.cardContainer.dependencia_3 {
  background-color: darkmagenta;
}

.cardContainer.dependencia_4 {
  background-color: darkolivegreen;
}
.cardContainer.dependencia_5 {
  background-color: grey;
}


.size{
  font-size: 24px;
  color: orange;
}

.name{
  font-size: 12px;
  color:white
}

.comuna{
  font-size: 10px;
  color: lightcyan
}

.dependencia {
  font-size: 10px;
  color:lightcyan
}

app-miniquad {
  border-radius: 2px;
  background-color: white;
}