<h2>{{unit.getInstitucion()}} <i class="fa fa-window-close-o" (click)="unselectDimension('institucion')"></i></h2>

<h3>Perfil de estudiantes matriculados en 2017</h3>

<app-institution-profile [unit]="unit"></app-institution-profile>
<hr>

<div *ngFor="let group of groupBySize" >
  <h2>{{groupLabel[group.type]}}</h2>
  <div class="row" >
      <app-entity-card 
      [unit]="unit" 
      *ngFor="let unit of group.instituciones" 
      (click)="selectItem(unit)" 
      class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      [ngClass]="unit.getType()"
      >     
    </app-entity-card>
  </div>
</div>
