<h2>{{unit.getInstitucion()}} <i class="fa fa-window-close-o" (click)="unselectDimension('institucion')"></i> | {{unit.getCarrera()}} <i class="fa fa-window-close-o" (click)="unselectDimension('carrera')"></i></h2>

<h3>Perfil de estudiantes matriculados en 2017</h3>

<app-institution-profile [unit]="unit"></app-institution-profile>
<hr>
<app-source-schools [unit]="unit"></app-source-schools>
<hr>
<app-competitors-same-carrera [carrera]="unit"></app-competitors-same-carrera>
<hr>
<!--
<app-schools-institutions [unit]="unit"></app-schools-institutions>
-->
<app-competitor  [institucion]="selectedInstitucion" [carrera]="selectedCarrera"></app-competitor>
<p></p>

