.metric {
  color: orange;
  font-size: 18px;
}

.competitorContainer {
  padding: 5px;
  cursor: pointer;
}

.competitor {
  color:white;
  background-color: darkslateblue; 
  border-radius: 3px;
  padding: 2px;
  height:100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.competitor.selected {
  border-style: solid;
  border-color: orange;
}

.school {
  color: white;
  margin: 2px;
}

.school.dependencia_1, .school.dependencia_2 {
  background-color: darkviolet; }

.school.dependencia_3 {
  background-color: darkmagenta; }

.school.dependencia_4 {
  background-color: darkolivegreen; }

.school.dependencia_5 {
  background-color: grey; }

