<span class="metric text-primary matricula">{{utilService.formatterNumber(matricula)}}</span> estudiantes matriculados en 2017

<div class="text-muted small"><i>(Se consideran estudiantes egresados de Enseñanza Media a partir de 2013)</i></div>
<p>
Perfil de ingreso<p></p>
<p></p>

<hr>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 text-center">
    <app-miniquad [unit]="unit"></app-miniquad>
  </div>  
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
    <strong>{{utilService.getDescRendimiento(this.quantileInfo)}}</strong> es el perfil de los estudiantes según su posición en el ranking de egreso escolar<br> 
    <span class="text-muted">La mediana de los estudiantes se encuentra en el decil {{this.quantileInfo.quantile50/10}} de egreso. <br>
    Hay estudiantes entre el decil {{this.quantileInfo.quantile0/10}} y el {{this.quantileInfo.quantile100/10}}, pero se concentran entre en decil {{this.quantileInfo.quantile25/10}} y el {{this.quantileInfo.quantile75/10}} (rango intercuartil)</span><br>
    <strong>{{utilService.getDescDependencia(this.indexGratuito)}}</strong> es el carácter de los establecimientos de los cuales egresó la mayoría de los estudiantes <br>   
    <span class="text-muted">{{utilService.formatterPercent(indexGratuito)}} egresó establecimientos gratuitos (liceos municipales o subvencionados) y {{utilService.formatterPercent(1-indexGratuito)}} egresó establecimientos particulares pagados</span><br>  
  </div>
</div>
