<div id="wrapper" [class.toggled]="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Start Bootstrap
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">

        <div *ngIf="!dataReady">
                    Cargando datos (espere unos segundos) ...
                    <div class="spiner-example text-center">
                        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                    </div>
        </div>
        <div *ngIf="dataReady">
            <!--
            <app-main-selector></app-main-selector>
            -->
            <app-global-panel 
                *ngIf="unit.getType()=='global'" 
                [unit]="unit"
                (selectUnit)="selectUnit($event)"
            ></app-global-panel>
            <app-tipo-institucion-panel 
                *ngIf="unit.getType()=='tipoInstitucion'" 
                [unit]="unit"
                (selectUnit)="selectUnit($event)"
                >
            </app-tipo-institucion-panel>
            <app-institucion-panel 
                *ngIf="unit.getType()=='institucion'" 
                [unit]="unit"
                (selectUnit)="selectUnit($event)"
                >
            </app-institucion-panel>
            <app-carrera-panel 
                *ngIf="unit.getType()=='carrera'" 
                [unit]="unit"
                (selectUnit)="selectUnit($event)"
                >
            </app-carrera-panel>
        </div>

      </div>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


